@model Micro.Models.RegisterClientViewModel

<div>
    <h4>RegisterClientViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.national_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.national_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.First_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.First_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Middle_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Middle_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.occupution)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.occupution)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ward)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ward)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
